<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- ##################### -->
    <!-- # SAME ON EACH PAGE # -->
    <!-- ##################### -->

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="SlowBikeClub Vinyl Decals prints Oracal 651 permanent vinyl for vehicle applications such as road bikes, track bikes and cars.">
    <meta name="keywords" content="vinyl, decals, track bikes">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <!-- Stuff -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMontserrat:300,400,500%7CRoboto" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/animate.css"> <!-- Resource style -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/ionicons.min.css"> <!-- Resource style -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Facebook OpenGraph -->
    <meta property="og:title" content="%TITLE%">
    <meta property="og:site_name" content="SlowBikeClub Vinyl Decals">
    <meta property="og:url" content="https://slowbikeclub.ca">
    <meta property="og:description" content="SlowBikeClub Vinyl Decals prints Oracal 651 permanent vinyl for vehicle applications such as road bikes, track bikes and cars.">

    <meta property="og:type" content="article">
    <meta property="og:image" content="https://slowbikeclub.ca/assets/images/customers/302.jpg">

    <!-- ####### -->
    <!-- # END # -->
    <!-- ####### -->


    <!-- Metadata -->
    <meta charset="utf-8">
    <title>%TITLE%</title>
    <meta name="title" content="%TITLE%">
    <!-- Metadata End -->

  </head>
  <body>
    <div class="wrapper">

      <!-- Navbar Section -->
      <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img class="navbar-logo" src="assets/images/logo.png" alt="logo"/>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right">
              <li class="nav-item"><a class="nav-link" href="/#customers">Customers</a></li>
              <li class="nav-item"><a class="nav-link" href="/#colours">Colours</a></li>
              <li class="nav-item"><a class="nav-link" href="/#services">Services & Pricing</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar End -->

      <div id="main" class="main">
